.panda-bg-info {
    background-color: #feeae9;
}

.panda-btn {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 14px;
    width: 33%;
}

.categories img {
    width: 100px;
}